[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-tailwind = "*"
django-crispy-forms = "*"
django-tailwind = "*"
pillow = "*"
whitenoise = "*"
dj-database-url = "*"
mysqlclient = "*"
gunicorn = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
