{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      integrity="sha512-rqQltXRuHxtPWhktpAZxLHUVJ3Eombn3hvk9PHjV/N5DMUYnzKPC1i3ub0mEXgFzsaZNeJcoE0YHq0j/GFsdGg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'library/style.css' %}" />
  </head>
  <body>
    <div class="base-container">
      {% include 'navbar.html' %}
      {% include 'messages.html' %} 
      {% block content %} 
      {% endblock content %}
      
      {% if request.user.is_authenticated %}
        {% include 'footer.html' %}   
      {% endif %}

    </div>
    {% include "scripts.html" %}
  </body>
</html>
